/* src/style.css */
@import url('https://fonts.googleapis.com/css2?family=Siemreap&display=swap');

body {
  font-family: 'Siemreap', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
}
